*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# C and C++ related
*.c
*.cpp
*.h
*.hpp
*.o
*.a
*.so
*.dll
*.lib
*.exe
*.out
*.obj
*.sln
*.vcxproj
*.pdb
*.ilk
*.idb

# HTML related
*.html
